
<html>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-route.js"></script>
<script src="api.js"></script>
<script src="scripts.js"></script>

</head>



<body ng-app="myApp">
     <div  ng-controller="a_opiekunowie" >
            <table>
                    <th>
                    IMIĘ
                    </th>
                    <th>
                    NAZWISKO
                    </th>
                <tr ng-repeat="x in data">
                    <th>
                    {{x.name}}                
                    </th>
                     <th>
                    {{x.surname}}                
                    </th>             
                    
                    <th>
                        <!--<input type="submit" class="editButton" ng-init="user = x" data-toggle="modal" data-target="#modalEditUser"  value="EDYTUJ">           -->
                        <a ng-href="#!cc_changePersonalData/{{x.id}}"><input type="submit" class="editButton" value="EDYTUJ"></a>
                    </th>
                    <th >
                        <input type="submit" class="deleteButton"  ng-click="deleteUser(x.id)" value="X">           
                    </th>
                </tr>
            </table>   
        </div>
    </body>

</html>